p i {
  color: white;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111827;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  grid-gap: 5px;
  margin: 5px 0;
  padding: 0 5px;
}

.list img {
  max-height: 375px;
}

.list p {
  margin: 0;
  padding: 0;
}

.item {
  border: 1px solid black;
  padding: 10px 0;
  background-color: #f3f4f6;
}

input {
  margin-top: 10px;
}

label {
  color: white;
  padding-right: 10px;
  font-weight: bold;
}
